html,body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

img {
  display: block;
  margin: 0;
}

.headroom {
  box-shadow: 0 0 8px rgba( #000, 0.3 );
}

.primary-navigation {
  display: flex;
  background: #fff;
  padding: 10px 0;

  .logo {
    width: 25px;
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin-right: 25px;
    padding: 0px 5px;
    font-size: 0.9rem;
    letter-spacing: 0.03rem;

    &:last-child {
      margin-right: 0;
    }

  }

  .highlight {
    border: 1px solid #ccc;
  }

}

.primary-header {
  font-size: 3.45rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 15px;
  margin-bottom: 65px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: url('/images/jsmn-hero-banner.jpg') center center no-repeat;
  background-size: cover;
  padding: 20% 0;
  box-sizing: border-box;
}

.event-name {
  font-family: 'Didot';
  font-size: 1.4rem;
  padding: 15px;
  background: #fff;
  border-radius: 2px;
  margin: 5px 0;
}

.hero-container-content {
  max-width: 1000px;
  padding: 30px;
}

.sponsered-by-label {
  text-align: center;
}

.next-event {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  justify-content: center;
}

.next-event-tagline {
  font-size: 1.4rem;
}

.next-event-timestamp {
  margin-top: 5px;
  font-size: 1rem;

}

.button-row {
  display: flex;
  align-items: center;
  margin: 50px 0 0;
}

.outline-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  padding: 8px 10px;
  font-weight: bold;
  margin-right: 10px;
  background: none;
  cursor: pointer;
  min-height: 55px;
  box-sizing: border-box;
  transition: all 0.2s ease-out;

  &:hover {
    background: #000;
    color: #fff;
  }

  .icon {
    display: block;
    margin-right: 3px;
    width: 35px;
    height: 35px;
  }

  .slack {
    background: url('/images/Slack_Mark_Monochrome_Black.svg') center center no-repeat;
    background-size: 150%;
  }

  .rsvp {
    background: url('/images/picture-calendar-icon.svg') center center no-repeat;
    background-size: 100%;
  }

  &:last-child {
    margin-right: 0;
  }

}

.sponser-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15% 0;
}

.sponser-container-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsored-by-title {
  font-style: oblique;
  margin-bottom: 15px;
  font-family: 'Didot';
  font-size: 1.4rem;
}

.sponser {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  width: 275px;
  height: 125px;
  margin-right: 20px;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba( #000, 0.1 );
  border: 1px solid #f9f9f9;
  cursor: pointer;
  transition: all 0.2 ease-out;

  &:hover {
    box-shadow: 0 0 15px rgba( #000, 0.3 );
    transform: scale( 1.05 );
  }

  img {
    diplay: block;
    margin: 0;
    width: 85%;
  }

}

.secondary-content {
  display: flex;
}
