<footer class="mt-10 border-t-2 border-black">
  <div class="container p-2 pt-4 mx-auto">
    <div
      class="flex items-start justify-center gap-x-4 sm:gap-x-16"
    >
      <div class="px-2">
        <p
          class="inline-block px-4 mb-2 font-bold text-white uppercase transform bg-black shadow -rotate-1"
          id="footer-meetup"
        >
          Meetup
        </p>
        <ul aria-describedby="footer-meetup" class="space-y-2 sm:space-y-0">
          {% for link in site.navigation %}
          <li>
            <a class="hover:underline hover:decoration-jsmn-mauve hover:decoration-2" href="{{ link.path | url }}"
              >{{ link.text }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="px-2">
        <p
          class="inline-block px-4 mb-2 font-bold text-white uppercase transform bg-black shadow rotate-1"
          id="footer-connect"
        >
          Connect
        </p>
        <ul aria-describedby="footer-connect" class="space-y-2 sm:space-y-0">
          {% for link in site.connect %}
          <li>
            <a class="hover:underline hover:decoration-jsmn-mauve hover:decoration-2" href="{{ link.href }}" rel="noopener noreferrer"
              >{{ link.text }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="py-8 text-sm text-center">
      <p>© {% year %} JavaScriptMN</p>
    </div>
  </div>
</footer>
