<nav class="relative shadow-md bg-jsmn-black">
  <div class="container px-2 mx-auto sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button
          id="ope-let-me-get-this-for-ya"
          class="inline-flex items-center justify-center p-2 text-gray-400 transition duration-150 ease-in-out border border-transparent rounded-md hover:text-white hover:border hover:border-jsmn-yellow focus:outline-none focus:border-white focus:text-white"
          aria-label="Main menu"
          aria-expanded="false"
        >
          <svg
            class="block w-6 h-6"
            data-menu-button
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-label="menu"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
          <svg
            class="hidden w-6 h-6"
            data-close-button
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-label="close"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div
        class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-between"
      >
        <div class="self-center flex-shrink-0">
          <a href="{{ '/' | url }}" class="flex w-auto md:hidden">
            <img
              class="h-8"
              src="{{ '/jsmn-logo.svg' | url }}"
              alt="{{ site.name }} logo"
            />
          </a>
          <a
            href="{{ '/' | url }}"
            class="items-center hidden w-auto md:flex"
          >
            <img
              class="block h-8"
              src="{{ '/jsmn-logo.svg' | url }}"
              alt="{{ site.name }} logo"
            />
            <span class="block pl-4 font-bold text-white">{{ site.name }}</span>
          </a>
        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex items-center space-x-4">
            {% for link in site.navigation %}
              <a
                href="{{ link.path | url }}"
                class="px-2 py-2 text-xs font-medium leading-5 text-center text-gray-300 transition duration-150 ease-in-out border-b-2 border-transparent lg:text-sm hover:text-white hover:border-jsmn-yellow focus:outline-none focus:text-white focus:border-white"
              >{{ link.text }}</a
              >
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden sm:hidden" data-mobile-menu>
    <div class="px-2 pt-2 pb-3">
      {% for link in site.navigation %}
        <a
          href="{{ link.path | url }}"
          class="block px-3 py-2 mt-1 text-base font-medium text-gray-300 transition duration-150 ease-in-out border-l-4 border-transparent hover:text-white hover:border-jsmn-yellow focus:outline-none focus:text-white focus:border-white"
        >{{ link.text }}</a
        >
      {% endfor %}
    </div>
  </div>
</nav>
