{% set event = events | rejectattr('hidden') | first %}

<div class="mb-8">
  <h2
    class="inline-block bg-black text-white text-2xl font-bold px-4 mb-2 transform -rotate-1"
  >
    Upcoming
  </h2>
  {# next event #}
  <div class="bg-jsmn-yellow text-2xl p-4" id="upcoming-event">
    <h3 class="font-bold">{{ event.title }}</h3>
    <p class="text-lg">
      <time datetime="{{ event.date.toISOString() }}">
        {{ event.date | formatDateTime }}
      </time>
      <br>
      {{ event.location }}
    </p>
    <p>
      <a href="{{ event.link }}" class="text-lg font-bold underline">Details & RSVP</a>
    </p>
  </div>
  {# fallback #}
  <div class="bg-jsmn-yellow text-2xl font-bold p-4 hidden"
       id="upcoming-event-fallback">
    <a href="https://www.meetup.com/javascriptmn/" class="underline">Check
      Meetup.com for updates</a>
  </div>
</div>

{% set js %}
  {% include "nextEvent.js" %}
{% endset %}
<script type="text/javascript">
  {{ js | jsmin | safe }}
</script>
