<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A monthly meetup for anyone interested in JavaScript and related technologies in the Twin Cities."
    />
    <title>
      {{ title }}{{ "" if title === "JavaScriptMN" else " | JavaScriptMN" }}
    </title>

    <!--
		      _                  ____            _       _     __  __ _   _ 
		     | | __ ___   ____ _/ ___|  ___ _ __(_)_ __ | |_  |  \/  | \ | |
		  _  | |/ _` \ \ / / _` \___ \ / __| '__| | '_ \| __| | |\/| |  \| |
		 | |_| | (_| |\ V / (_| |___) | (__| |  | | |_) | |_  | |  | | |\  |
		  \___/ \__,_| \_/ \__,_|____/ \___|_|  |_| .__/ \__| |_|  |_|_| \_|
		                                          |_|                       
    -->

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ site.baseUrl }}apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ site.baseUrl }}favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ site.baseUrl }}favicon-16x16.png"
    />
    <link rel="manifest" href="{{ site.baseUrl }}site.webmanifest" />
    <link rel="stylesheet" href="{{ site.baseUrl }}css/tailwind.include.css" />
  </head>
  <body>
    {% include "header.njk" %}
    <main role="main">{{ content | safe }}</main>
    {% include "footer.njk" %}
    <script type="text/javascript">
      /* ;) */
      (function publicStaticVoidMain(stringArgs) {
        console.log("%cHey! We'd love for you to give a talk, please reach out!", 'font-size: 2rem; color: #e5cf5f; background-color: #222;');
        console.log("%c❤️", 'font-size: 5rem; color: red;');

        window.onload = function () {
          document.querySelector('#ope-let-me-get-this-for-ya').addEventListener('click', function () {
            const menu = document.querySelector('[data-menu-button]');
            const close = document.querySelector('[data-close-button]');
            const mobileMenu = document.querySelector('[data-mobile-menu]');

            menu.classList.toggle('block');
            menu.classList.toggle('hidden');

            close.classList.toggle('hidden');
            close.classList.toggle('block');

            mobileMenu.classList.toggle('hidden');
            mobileMenu.classList.toggle('block');
          });
        };
      })();
    </script>
  </body>
</html>
