---
layout: base
title: Events
---

<div class="container mx-auto mt-8 p-2">
  <h1 class="text-4xl font-bold mb-8">Events</h1>

  {% include "nextEvent.njk" %}

  <h2
    class="inline-block bg-black text-white text-2xl font-bold px-4 mb-2 transform -rotate-1"
  >
    Past
  </h2>

  <div class="divide-y divide-black divide-solid">
    {% for event in events | rejectattr('hidden') %}
      <article class="py-4" data-past-event>
        <h3 class="font-bold text-2xl">{{ event.title }}</h3>
        <p class="text-lg">
          <time datetime="{{ event.date.toISOString() }}">
            {{ event.date | formatDateTime }}
          </time>
        </p>
        <p class="text-lg">
          {{ event.location }}
        </p>
        <p>
          <a href="{{ event.link }}" class="text-lg font-bold hover:underline" target="_blank" rel="noopener noreferrer">Details</a>
        </p>
      </article>
    {% endfor %}
  </div>
</div>

{% set js %}
  {% include "events.js" %}
{% endset %}
<script type="text/javascript">
  {{ js | jsmin | safe }}
</script>
