---
layout: base
title: Events
---

<div class="container p-2 mx-auto mt-8">
  <h1 class="mb-8 text-4xl font-bold">Events</h1>

  {% include "nextEvent.njk" %}

  <h2
    class="inline-block px-4 mb-2 text-2xl font-bold leading-normal text-white transform bg-black shadow -rotate-1"
  >
    Past
  </h2>

  <div class="divide-y divide-gray-400 divide-solid">
    {% for event in events | rejectattr('hidden') %}
      <article class="py-4" data-past-event>
        <h3 class="text-2xl font-bold">{{ event.title }}</h3>
        <p class="text-lg">
          <time datetime="{{ event.date.toISOString() }}">
            {{ event.date | formatDateTime }}
          </time>
        </p>
        <p class="text-lg">
          {{ event.location }}
        </p>
        <p>
          <a href="{{ event.link }}" class="text-lg font-bold hover:underline" target="_blank" rel="noopener noreferrer">Details</a>
        </p>
      </article>
    {% endfor %}
  </div>
</div>

{% set js %}
  {% include "events.js" %}
{% endset %}
<script type="text/javascript">
  {{ js | jsmin | safe }}
</script>
