---
layout: base
title: JavaScriptMN
changeFreq: daily
---

{# primary content #}
<div class="special-bg">
  <div class="container mx-auto px-2 py-10 mb-10">
    <div class="x-h-screen flex justify-center items-center">
      <div>
        <div class="text-center flex flex-wrap sm:flex-no-wrap justify-center px-4 sm:px-0">
          <div class="w-full sm:w-1/2">
            <div class="pl-8 sm:pl-16" data-animated-logo>
              {% include "_logo.svg" %}
            </div>
          </div>
          <div class="w-full sm:w-1/2 self-center">
            <div class="text-4xl font-bold"><h1>JavaScriptMN</h1></div>
            <p class="text-xl">
              A monthly meetup for anyone interested in JavaScript and related
              technologies in the Twin Cities.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{# the next section #}

<div class="container mx-auto px-2 mb-10">
  <div class="x-h-screen flex justify-center items-center">
    <div class="w-full">
      {% include 'nextEvent.njk' %}
      <div>
        <div class="flex justify-end items-center mb-2">
          <h2
            class="inline-block bg-black text-white text-2xl font-bold px-4 transform rotate-1"
          >
            Links
          </h2>
        </div>
        <ul
          class="flex justify-center sm:justify-end items-center space-y-2 sm:space-y-0 sm:space-x-2 flex-wrap sm:flex-no-wrap"
        >
          {% for link in actionLinks %}
          <li class="w-full sm:w-auto">
            <a
              class="block text-xl font-semibold border-2 border-black p-4 hover:bg-jsmn-yellow transition-all duration-100"
              href="{{ link.href }}"
              >{{ link.text }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>


{# location, speaking #}

<div class="container mx-auto px-2 mb-10">
  <div class="x-h-screen flex justify-center items-center">
    <div class="w-full">
      <section class="mb-8">
        <h2
          class="inline-block bg-black text-white text-2xl font-bold px-4 mb-2 transform -rotate-1"
        >
          Location
        </h2>
        <div
          class="border-jsmn-yellow border-4 p-4 flex justify-between items-center flex-wrap sm:flex-no-wrap space-y-4 sm:space-y-0"
        >
          <div class="w-full sm:w-1/2">
            <p class="text-lg leading-7">
              We are graciously hosted at <b>WeWork</b>'s Uptown Minneapolis
              Coworking Space. Parking is available on-street (paid at meters,
              free on residential streets) and in the adjacent MoZaic Art Park
              Ramp (paid). Public transportation access to the 6, 12, 17, 21,
              23, 53, and 612 bus routes is just a minute away.
            </p>
          </div>

          <div class="w-full sm:w-1/2 flex justify-center">
            <address class="text-lg font-bold">
              WeWork<br />
              1330 Lagoon Ave<br />
              Minneapolis, MN 55408
            </address>
          </div>
        </div>
      </section>

      {# speaking #}
      <section class="mb-8">
        <div class="flex justify-start items-center mb-2">
          <h2
            class="inline-block bg-black text-white text-2xl font-bold px-4 transform -rotate-1"
          >
            Speaking
          </h2>
        </div>
        <div
          class="border-jsmn-yellow border-4 p-4 flex justify-between items-center flex-wrap sm:flex-no-wrap space-y-4 sm:space-y-0"
        >
          <div>
            <h3 class="text-2xl font-bold">Interested in speaking?</h3>
            <p class="text-lg">
              We are always open to new speakers, please see our questionnaire
              for more details.
            </p>
          </div>
          <div class="w-full sm:w-auto">
            <a
              class="block text-xl font-semibold border-2 border-black p-4 hover:bg-jsmn-yellow transition-all duration-100"
              href="{{ '/speak/' | url }}"
              >Learn More</a
            >
          </div>
        </div>
      </section>

      {# promoted sponsors #}
      <section class="mb-8">
        <div class="flex justify-between items-center mb-2">
          <h2
            class="inline-block bg-black text-white text-2xl font-bold px-4 transform -rotate-1"
          >
            Sponsors
          </h2>
          <p>
            <a class="hover:underline" href="{{ '/sponsors/' | url }}">
              More Sponsors →
            </a>
          </p>
        </div>
        <div class="border-jsmn-yellow border-4 p-4">
          {% for section in sponsors %}
          {% if section.showOnHome === true %}
          <div class="w-2/3 mx-auto mb-4">
            <h3 class="font-bold text-2xl">{{ section.section }}</h3>
            <div class="grid sm:grid-cols-4 sm:gap-2 grid-cols-none space-y-4 sm:space-y-0">
              {% for sponsor in section.sponsors %}
              <div class="flex justify-center items-center">
                <a
                  href="{{ sponsor.href }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex justify-center items-center shadow transition-all border border-gray-200 hover:border-gray-400 w-full p-4"
                >
                  <img
                    src="{{ sponsor.imgSrc | url }}"
                    alt="{{ sponsor.title }}"
                    title="{{ sponsor.title }}"
                    class="h-32"
                  />
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </section>
    </div>
  </div>
</div>
