---
title: Sponsorship Opportunities
layout: base
---

<div class="container mx-auto mt-8 p-2">
  <div class="text-center">
    <h1 class="text-3xl font-bold mb-3">Sponsorship Opportunities</h1>
    <p class="text-xl">
      Please reach out if you're interested in sponsoring JavaScriptMN!
    </p>
  </div>

  <div class="my-8 px-0 sm:px-2 w-full sm:w-1/3 mx-auto">
    <a
      class="block text-xl font-semibold border-2 border-black p-4 hover:bg-jsmn-yellow transition-all duration-100 text-center"
      href="mailto:{{ site.author.email }}?subject=Sponsor%20JavaScriptMN"
    >
      Email us
    </a>
  </div>

  <h2 class="my-4 font-bold text-xl text-center px-2">
    Support our community!
  </h2>
  <div class='max-w-2xl mx-auto'>
    <p class="uppercase text-gray-800 px-4 text-sm font-bold">
      What's included
    </p>
    <div class="my-4 w-full flex justify-center px-4">
      <ul class="list-disc ml-4 list-outside space-y-4">
        <li>Website: Link &amp; Logo on Home and Sponsor pages</li>
        <li>
          Meetups: Announcement of thanks by host with joint slide
          representing other sponsors
        </li>
      </ul>
    </div>
  </div>
</div>
