---
layout: base
title: Sponsors
---

<div class="container mx-auto p-2 my-8">
  <div class="x-h-screen flex justify-center items-center">
    <div class="w-full">
      <div class="mb-8">

        <div class="flex flex-wrap justify-between items-center">
          <h1
            class="inline-block bg-black text-white text-3xl font-bold px-4 mb-2 transform -rotate-1"
          >
            Sponsors
          </h1>
          <p>
            <a class="hover:underline" href="{{ '/sponsorship-opportunities/' | url }}">Become a sponsor →</a>
          </p>
        </div>

        <div class="border-jsmn-yellow border-4 p-4 divide-y divide-gray-200">
          {% for section in sponsors %}
          <div class="py-4">
            <h2 class="text-3xl font-bold">{{ section.section | safe }}</h2>
            <ul class="grid sm:grid-cols-3 sm:gap-2 grid-cols-none">
              {% for sponsor in section.sponsors %}
              <li class="flex justify-center items-center">
                <a
                  href="{{ sponsor.href }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex justify-center items-center shadow border border-gray-200 hover:border-gray-600 w-full p-4 m-2"
                >
                  <img
                    src="{{ sponsor.imgSrc | url }}"
                    alt="{{ sponsor.title }}"
                    title="{{ sponsor.title }}"
                    class="h-32"
                  />
                </a>
              </li>
              {% else %}
              <li
                class="flex justify-center items-center p-4 m-2 border border-gray-200 hover:border-gray-600 shadow"
              >
                <a
                  class="transition-all transform h-32 w-full flex justify-center items-center"
                  href="{{ '/sponsorship-opportunities/' | url }}"
                >
                  <span class="text-lg font-bold">Become a sponsor →</span>
                </a>
              </li>
              {%endfor%}
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
