---
layout: base
title: Sponsors
---

<div class="container p-2 mx-auto my-8">
  <div class="flex items-center justify-center x-h-screen">
    <div class="w-full">
      <div class="mb-8">

        <div class="flex flex-wrap items-center justify-between">
          <h1
            class="inline-block px-4 mb-2 text-3xl font-bold text-white transform bg-black shadow -rotate-1"
          >
            Sponsors
          </h1>
          <p>
            <a class="hover:underline" href="{{ '/sponsorship-opportunities/' | url }}">Become a sponsor →</a>
          </p>
        </div>

        <div class="p-4 border-4 divide-y divide-gray-200 border-jsmn-yellow">
          {% for section in sponsors %}
          <div class="py-4">
            <h2 class="text-3xl font-bold">{{ section.section | safe }}</h2>
            <ul class="grid grid-cols-none sm:grid-cols-3 sm:gap-2">
              {% for sponsor in section.sponsors %}
              <li class="flex items-center justify-center">
                <a
                  href="{{ sponsor.href }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex items-center justify-center w-full p-4 m-2 border border-gray-200 shadow hover:border-gray-600"
                >
                  <img
                    src="{{ sponsor.imgSrc | url }}"
                    alt="{{ sponsor.title }}"
                    title="{{ sponsor.title }}"
                    class="h-32"
                  />
                </a>
              </li>
              {% else %}
              <li
                class="flex items-center justify-center p-4 m-2 border border-gray-200 shadow hover:border-gray-600"
              >
                <a
                  class="flex items-center justify-center w-full h-32 transition-all transform"
                  href="{{ '/sponsorship-opportunities/' | url }}"
                >
                  <span class="text-lg font-bold">Become a sponsor →</span>
                </a>
              </li>
              {%endfor%}
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
